---
import { Picture } from '@astrojs/image/components';
import { storyblokEditable } from '@storyblok/astro';
const { blok } = Astro.props;
---

<Fragment {...storyblokEditable(blok)}>
  <section class="py-32 bg-light" id="kunden">
    <div class="container">
      <h2 class="text-5xl text-primary mb-2 font-clanMedium text-center">{blok.title}</h2>
      {blok.subtitle && <p class="text-xl text-primary mb-16 text-center">{blok.subtitle}</p>}
      <div class="grid grid-cols-3 mx-auto max-w-5xl gap-10 mb-12">
        {
          blok.logos?.map((logo) => (
            <div class="flex items-center justify-center ">
              <Picture
                src={logo.filename}
                widths={[140, 280, 620]}
                quality={50}
                sizes="150px"
                alt=""
                class="w-full h-full object-center object-contain grayscale hover:grayscale-0 transition-all duration-300"
                aspectRatio={3 / 2}
                position="center"
                fit="contain"
                background="rgba(0,0,0,0)"
              />
            </div>
          ))
        }
      </div>
      {blok.bottomText && <p class="text-center text-xl">{blok.bottomText}</p>}
    </div>
  </section>
</Fragment>
