---
import { storyblokEditable } from '@storyblok/astro';
import Tile from '../components/Tile.astro';

const { blok } = Astro.props;
---

<Fragment {...storyblokEditable(blok)}>
  <section id="portfolio">
    <h2 class="text-5xl text-primary mb-2 font-clanMedium text-center">{blok.title}</h2>
    <p class="text-xl text-primary mb-16 text-center">{blok.subtitle}</p>
    <div class="grid grid-cols-4">
      {
        blok.tileImage.map((tile) => (
          <Tile imgUrl={tile.filename} title={tile.title} url={`/portfolio/${tile.title?.toLowerCase()?.replace(' ', '-')}/`} />
        ))
      }
    </div>
  </section>
</Fragment>
