<section class="py-32" id="über-mich">
  <div class="container">
    <h2 class="text-5xl text-primary mb-2 font-clanMedium text-center">Über Mich</h2>
    <p class="text-xl text-primary mb-16 text-center">Meine Qualifikationen.</p>
    <div class="flex flex-col sm:flex-row gap-x-40">
      <div class="bg-gray-400 rounded-full aspect-square max-h-[480px] w-[480px] max-w-full"></div>
      <div class="flex flex-col max-w-md">
        <h2 class="text-9xl text-primary">HI</h2>
        <p class="text-primary mb-4">
          Schon während meiner Schullaufbahn merkte ich, dass kreative Arbeit meine Leidenschaft ist. So begann ich nach meinem Abitur im
          Jahr 2012 eine Ausbildung zur <span class="font-clanMedium">Mediengestalterin Digital und Print</span> mit Schwerpunkt auf Printmedien.
          Diese schloss ich mit Auszeichnung ab und hing nachfolgend ein weiterführendes <span class="font-clanMedium"
            >Studium „Media Design“</span
          >
          an. Hier erlernte ich den Umgang mit allen Medienarten und wählte den <span class="font-clanMedium">Schwerpunkt „UX Design“.</span
          > Seit meinem Bachelor Abschluss im Jahr 2019 bin ich freiberufliche Mediendesignerin und durfte bereits einige tolle Projekte mit
          Kunden aus unterschiedlichen Bereichen erfolgreich abschließen. Durch meine Ausbildung und das Studium kann ich meinen Kunden eine
          vollumfängliche Betreuung von Printmedien, digitalen Medien und Bewegtbild bieten.
        </p>

        <p class="text-primary font-clanMedium">
          Ich konnte dein Interesse wecken? Dann zögere nicht und schreibe mir gerne. Ich freue mich auf deine Nachricht!
        </p>
      </div>
    </div>
  </div>
</section>
