<section class="py-32 bg-light" id="kunden">
  <div class="container">
    <h2 class="text-5xl text-primary mb-2 font-clanMedium text-center">Kunden</h2>
    <p class="text-xl text-primary mb-16 text-center">Aktuelle Zusammenarbeiten.</p>
    <div class="grid grid-cols-4 mb-16">
      <div class="flex items-center justify-center font-clanMedium text-2xl py-12">
        <span class="bg-gray-400 text-white py-2 px-7 rounded-full">LOGO</span>
      </div>
      <div class="flex items-center justify-center font-clanMedium text-2xl py-12">
        <span class="bg-gray-400 text-white py-2 px-7 rounded-full">LOGO</span>
      </div>
      <div class="flex items-center justify-center font-clanMedium text-2xl py-12">
        <span class="bg-gray-400 text-white py-2 px-7 rounded-full">LOGO</span>
      </div>
      <div class="flex items-center justify-center font-clanMedium text-2xl py-12">
        <span class="bg-gray-400 text-white py-2 px-7 rounded-full">LOGO</span>
      </div>
      <div class="flex items-center justify-center font-clanMedium text-2xl py-12">
        <span class="bg-gray-400 text-white py-2 px-7 rounded-full">LOGO</span>
      </div>
      <div class="flex items-center justify-center font-clanMedium text-2xl py-12">
        <span class="bg-gray-400 text-white py-2 px-7 rounded-full">LOGO</span>
      </div>
      <div class="flex items-center justify-center font-clanMedium text-2xl py-12">
        <span class="bg-gray-400 text-white py-2 px-7 rounded-full">LOGO</span>
      </div>
      <div class="flex items-center justify-center font-clanMedium text-2xl py-12">
        <span class="bg-gray-400 text-white py-2 px-7 rounded-full">LOGO</span>
      </div>
    </div>
    <p class="text-center text-xl">und viele mehr.</p>
  </div>
</section>
