---
import Logo from './Logo.astro';
import LogoBDG from './../assets/images/Logo_BDG.svg';
---

<footer class="overflow-hidden">
  <div class="bg-primary">
    <div class="container flex flex-col sm:flex-row justify-between items-start sm:items-center bg-primary text-white py-4">
      <div class="w-full flex flex-col sm:flex-row justify-between text-xs lg:text-sm gap-x-36 lg:gap-x-0">
        <Logo fill="fill-white" />
        <div class="w-full flex flex-row justify-between mt-4 sm:mt-0">
          <ul class="w-full flex flex-col lg:flex-row justify-evenly gap-x-4">
            <li class="w-max flex flex-col">
              <span>Media DSGN</span>
              <span>Sarah Weihrauch</span>
            </li>
            <li class="w-max flex flex-col">
              <span>Licher Allee 7</span>
              <span>52428 Jülich</span>
            </li>
          </ul>
          <ul class="w-full flex flex-col lg:flex-row justify-evenly gap-x-4">
            <li class="w-max flex flex-col">
              <span>Mobil: <a href="tel:+491733844379">01733844379</a></span>
              <span>sarah@media-and-design.com</span>
            </li>
            <li class="w-max flex gap-x-2 items-start">
              <span class="min-w-max">Mitglied im</span>
              <img src={LogoBDG.src} alt="Logo BDG" class="md:mt-1 w-36 md:w-40" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-footer text-white">
    <div class="container flex flex-col sm:flex-row items-start sm:items-center justify-between text-xs py-0.5">
      <ul class="flex items-center justify-center gap-x-4 sm:gap-x-12">
        <li><a href="/agb/" class="inline-block">AGB</a></li>
        <li><a href="/impressum/" class="inline-block">Impressum</a></li>
        <li><a href="/datenschutz/" class="inline-block">Datenschutz</a></li>
      </ul>
      <span>Copyright &copy; 2023 Sarah Weihrauch</span>
    </div>
  </div>
</footer>
