---
import { Picture } from '@astrojs/image/components';
---

<div class="swiper min-h-max">
  <div class="swiper-wrapper">
    <slot />
  </div>
  <div class="swiper-pagination"></div>
</div>
<script is:inline type="module">
  import { Swiper } from './../../node_modules/swiper/swiper-bundle.esm.js';
  import './../../node_modules/swiper/swiper-bundle.min.css';

  const swiper = new Swiper('.swiper', {
    direction: 'horizontal',
    loop: false,
    slidesPerView: 1,
    spaceBetween: 40,

    pagination: {
      clickable: true,
      el: '.swiper-pagination',
    },
  });
</script>
