---
import { Picture } from '@astrojs/image/components';
---

<div class="swiper min-h-max">
  <div class="swiper-wrapper">
    <slot />
  </div>
  <div class="swiper-pagination"></div>
</div>
<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css" />

<script src="/assets/js/swiper-bundle.min.js" is:inline></script>
<script is:inline>
  const swiper = new Swiper('.swiper', {
    direction: 'horizontal',
    loop: false,
    slidesPerView: 1,
    spaceBetween: 40,

    pagination: {
      clickable: true,
      el: '.swiper-pagination',
    },
  });
</script>
